/*
Colors

light blue:   #00c2f0
dark blue:    #1a3b6e
yellow:       #f8ff2a
orange:       #e55500
dark orange:  #bf5500
 */

html {
  background-color: #f1f5f9;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: #2b2d32;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  line-height: 1.5;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

/* page */
.page {
  max-width: 80ch;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
}

/* nav styles */
header {
  padding: 1rem;
  border-bottom: 1px solid #d7d7d7;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #00c2f0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #00c2f0;
  display: none;
  margin: 0;
}

.nav-links a {
  color: #2b2d32;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links img {
  padding: 0 10px;
}

.nav-links a:hover, a:focus {
  background-color: #00c2f0;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 0;
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* code style */
.astro-code {
  padding: 16px;
}

/* Dark theme */
.dark {
  background-color: #1e1e20;
  color: rgba(255, 255, 245, .86);
}

.dark header {
  border-color: #353535;
}

.dark .nav-links a {
  color: rgba(255, 255, 245, .86);
}

.dark a {
  color: #00c2f0;
}

.dark .page {
  border-color: #353535;
}
