---

---
<a href="/" class="flex gap-x-3 items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent">
  <img alt="firedew blog logo" height="48" width="48" src="/logo.svg"></img>
  FireDew Blog
</a>
