---
import Section from '../components/Section.astro'
---

<footer class="sticky top-[100vh]">
  <Section>
    <p>
      <small>
        Logo attribute:
        <a href="https://www.vectorstock.com/royalty-free-vector/flame-and-water-drop-logo-template-vector-27781956" target="_blank">
          Vector image by VectorStock / Razzan99
        </a>
      </small>
    </p>
  </Section>
</footer>
