---
import Navigation from './Navigation.astro';
import Brand from './Brand.astro';
---
<header class="mx-auto max-w-screen-lg px-3 py-6">
  <nav class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between">
    <Brand />
    <Navigation />
  </nav>
</header>
