---
---
  <div class="nav-links">
    <img alt="firedew blog logo" height="48" src="/logo.svg"></img>
    <a href="/">Home</a>
    <a href="/articles/">Articles</a>
    {/*<a href="/tags/">Tags</a>*/}
  </div>
